<div class="page-container">
  <section class="section azul">
    <h1>O que é?</h1>
    <p>
      O Transtorno do Espectro Autista (TEA), comumente chamado apenas de
      Autismo, é uma condição do neurodesenvolvimento que afeta a forma como uma
      pessoa se comunica, interage socialmente e aprende, manifestando-se em
      padrões de comportamento e interesses restritos ou repetitivos. É um
      espectro, visto que a condição se apresenta de maneira única e com
      intensidades variadas em cada indivíduo, abrangendo uma ampla gama de
      habilidades e desafios. As características podem se tornar perceptíveis na
      primeira infância e persistem por toda a vida. O diagnóstico baseia-se na
      observação do comportamento e no desenvolvimento, e não há uma única causa
      conhecida, mas a ciência aponta para uma combinação de fatores genéticos e
      ambientais.
    </p>
  </section>

  <section class="section roxo">
    <h1>O que é?</h1>
    <p>
      Para descrever a intensidade dos desafios e as necessidades, o Autismo é
      classificado em três níveis de apoio, conforme o Manual Diagnóstico e
      Estatístico de Transtornos Mentais (DSM-5).
    </p>
    <div class="caixas-grid">
      <div class="caixa orange-box">
        <h3>Nível 1</h3>
        <p>
          O Nível 1 requer apoio e é o que apresenta as dificuldades mais leves,
          necessitando de suporte para iniciar interações sociais e gerenciar a
          inflexibilidade.
        </p>
      </div>
      <div class="caixa orange-box">
        <h3>Nível 2</h3>
        <p>
          O Nível 2 requer apoio substancial, onde as dificuldades na
          comunicação verbal e não verbal e os comportamentos repetitivos são
          mais óbvios, exigindo mais ajuda para funcionar no dia a dia.
        </p>
      </div>
      <div class="caixa orange-box">
        <h3>Nível 3</h3>
        <p>
          Por fim, o Nível 3 requer apoio muito substancial, indicando os
          desafios mais significativos, com grandes déficits na comunicação e
          dificuldades extremas em lidar com mudanças, necessitando de auxílio
          constante para a maioria das atividades. constante.
        </p>
      </div>
    </div>
  </section>

  <section class="section laranja">
    <div class="texto-secao">
      <h2>Motivação</h2>
      <p>
        De acordo com o IBGE, em 2022 o número de crianças diagnosticadas entre
        5 e 9 anos é de 1 a cada 38 crianças (2,6%). Para se observar a mudança
        no número de diagnósticos pode-se observar os dados do CDC (Centro de
        Controle de Doenças dos Estados Unidos). Em 2022 a prevalência de
        diagnósticos de autismo em crianças de 8 anos mostra um aumento contínuo
        na identificação, indo desde 1 em 150 (0,6%) em 2000 até 1 a cada 31
        crianças (3,2%) em 2022. Tal aumento se deve à disseminação de
        informações sobre o TEA (Transtorno do Espectro Autista) e
        conscientização entre famílias e profissionais da educação e saúde. Com
        um diagnóstico cedo é possível intervir de forma mais efetiva, visto que
        o cérebro ainda está se desenvolvendo. Isso é observado em adultos,
        aqueles que obtiveram diagnósticos na infância tiveram melhoras na
        qualidade de vida, sendo observada maior independência, resultados
        acadêmicos, funcionamento sócio-emocional e menor estresse e ansiedade
        na família (1). Porém, é também necessário se atentar à possíveis riscos
        de um diagnóstico, trazendo estigmas para a vida da pessoa e o risco de
        tratamento excessivo, com, por exemplo, medicações desnecessárias(1). É
        importante lembrar que o autismo estará presente na vida da pessoa por
        toda a sua vida, agravando tais impactos (em especial para quem é
        falsamente diagnosticado).
      </p>
      <div class="imagem-secao">
        <img src="/images/preval_autismo.png" alt="Prevalência do Autismo" />
        <div class="imagem-descricao-grande">
          <h1>1 a cada 36 pessoas é autista</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="section caixas amarelo">
    <h2>Comorbidade e Populações Vulneráveis</h2>
    <div class="caixas-grid">
      <div class="caixa">
        <h3>TDAH e Autismo</h3>
        <p>
          Transtorno do Déficit de Atenção com Hiperatividade (TDAH) possui a
          maior comorbidade com o autismo, com pesquisas indicando cerca de
          40-70% de crianças com autismo também com o diagnóstico do TDAH. No
          caso do diagnóstico equivocado de apenas um deles, frequentemente há
          um atraso no diagnóstico do outro, destacando a importância do
          acompanhamento de um profissional capacitado.
        </p>
      </div>
      <div class="caixa">
        <h3>Outras Comorbidades</h3>
        <p>
          Uma outra condição notável e que pode causar confusão é a de crianças
          superdotadas, que fazem parte de apenas 2% das crianças autistas, ao
          contrário do mito de que autismo e superdotismo são sinônimos.
          Depressão e ansiedade são outras condições que podem vir a se
          manifestar, com taxas de depressão até quatro vezes maiores do que em
          pessoas neurotípicas, e ansiedade prevalente em 40 a 80 por cento de
          pessoas autistas.
        </p>
      </div>
      <div class="caixa">
        <h3>Populações Vulneráveis</h3>
        <p>
          Populações vulneráveis — incluindo aquelas de baixa renda, minorias
          étnicas, residentes rurais ou indivíduos com acesso limitado a
          cuidados de saúde — enfrentam desafios únicos no contexto do Autismo,
          frequentemente culminando em um subdiagnóstico ou diagnóstico tardio
        </p>
      </div>
      <div class="caixa">
        <h3>Impactos na Família</h3>
        <p>
          As famílias nestas comunidades frequentemente experimentam uma
          sobrecarga maior dos cuidadores, pois as redes de apoio formal
          (serviços de saúde, escolas e terapeutas) são mais escassas ou de
          difícil acesso, deixando os cuidadores lidando sozinhos com as
          exigências intensas do suporte contínuo.
        </p>
      </div>
    </div>
  </section>

  <section class="section cinza">
    <h2>Nosso Projeto</h2>
    <div class="flowchart-container">
      <div class="flowchart-step">
        <h3>1. Observação Escolar</h3>
        <p>
          Professores realizam registros de suspeita com base em indicadores
          comportamentais e de desenvolvimento.
        </p>
      </div>
      <div class="flowchart-arrow"></div>
      <div class="flowchart-step">
        <h3>2. Contato Familiar</h3>
        <p>O servidor público realiza um contato ou visita domiciliar.</p>
      </div>
      <div class="flowchart-split-arrows">
        <div class="flowchart-arrow left-arrow"></div>
        <div class="flowchart-arrow right-arrow"></div>
      </div>
      <div class="flowchart-bottom-row">
        <div class="flowchart-step">
          <h3>3. Encaminhamento para Diagnóstico</h3>
          <p>
            Estabelece uma ponte entre a família e a rede de profissionais de
            saúde e assistência social, facilitando o acesso ao processo de
            diagnóstico.
          </p>
        </div>
        <div class="flowchart-step">
          <h3>4. Estruturação do Apoio</h3>
          <p>
            Auxilia na estruturação do apoio necessário e conecta com recursos
            de suporte formal para diminuir a sobrecarga dos cuidadores.
          </p>
        </div>
      </div>
    </div>
    <p>
      Este modelo de intervenção contribui para enfrentar o subdiagnóstico
      prevalente em populações vulneráveis, caracterizadas por barreiras
      socioeconômicas ou geográficas ao acesso. Ao levar o sistema de apoio
      diretamente às famílias, o projeto remove obstáculos significativos, como
      a dificuldade de deslocamento, a falta de informação sobre os
      procedimentos e os custos iniciais de avaliações especializadas. Dessa
      forma, é possível garantir que as crianças e suas famílias sejam
      encaminhadas para intervenções precoces de maneira mais eficiente, o que,
      por sua vez, pode auxiliar na diminuição da sobrecarga dos cuidadores ao
      conectá-los com recursos de suporte formal.
    </p>
  </section>
</div>
