<section *ngIf="!started(); else perguntas" class="w-full bg-blue-900 px-4 py-6">
  <div class="w-full max-w-2xl text-white mx-auto px-4">
    <h1 class="text-3xl font-bold mb-4">Como avaliar o risco de autismo?</h1>
    
    <p class="text-lg text-white mb-3">
      O primeiro passo para se alcançar o diagnóstico de autismo é avaliar a chance da criança de possuir o transtorno, através do processo de triagem.
      <br>
      A triagem pode ser realizada de diversas maneiras, através de questionários, observações e entrevistas com os pais ou cuidadores.
      <br><br>
      Abaixo, está disponível uma ferramenta externa de triagem, disponibilizada pela ONG Instituto Incluir. A ferramenta é voltada para cuidadores ou professores, com o intuito de
      identificar sinais precoces de autismo em crianças entre 16 e 30 meses de idade, por meio de um conjunto de perguntas que abordam comportamentos típicos e atípicos.
    </p>

    <p class="text-sm text-white mb-3">
      Disponibilizado por: Instituto Incluir - <a href="https://incluir.ong.br" class="text-blue-200" target="_blank">incluir.ong.br</a>
    </p>

    <button (click)="scrollToQuestionnaire()" class="w-full rounded-xl bg-emerald-500 hover:bg-blue-700 text-white px-5 py-2.5">
      Iniciar a Triagem
    </button>
  </div>
</section>

<style>
    section {
      margin-bottom: 150px;
    }
</style>

<div class="grid place-items-center">
  <iframe id="questionnaireIframe"
    src="https://incluir.ong.br/autismo/triagem-e-diagnostico/ferramenta-de-triagem" 
    width="100%" 
    height="1000px" 
    frameborder="0">
    O seu navegador não suporta iframes.
  </iframe>
</div>


<ng-template #perguntas>
</ng-template>
