<a
  href="#conteudo"
  class="sr-only focus:not-sr-only focus:absolute focus:top-2 focus:left-2
     bg-blue-600 text-white px-3 py-1 rounded"
>
  Pular para o conteúdo
</a>

<header
  class="sticky top-0 z-50 bg-slate-900/80 backdrop-blur border-b border-white/10"
>
  <div class="mx-auto max-w-6xl px-4 h-14 flex items-center justify-between">
    <a routerLink="/" class="font-bold text-3xl text-white tracking-tight"
      >NOR<span class="text-blue-700">TEA</span>R</a
    >

    <!-- Botão mobile -->
    <button
      class="md:hidden p-2 rounded-lg border border-white/10 text-zinc-200 hover:bg-white/5 focus:outline-none focus:ring-2 focus:ring-blue-500"
      (click)="open.set(!open())"
      [attr.aria-expanded]="open()"
      aria-label="Abrir menu"
    >
      <svg
        width="22"
        height="22"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M4 7h16M4 12h16M4 17h16"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </button>

    <!-- Menu desktop -->
    <nav class="hidden md:flex gap-6 text-sm text-zinc-300 items-center">
      <!-- Link sempre visível -->
      <a routerLink="/" routerLinkActive="text-white" class="hover:text-white">
        Início
      </a>

      <a routerLink="/dashboard" routerLinkActive="text-white" class="hover:text-white">
        Dashboard
      </a>

      <!-- Somente deslogado -->
      <ng-container *ngIf="!auth.isAuthenticated()">
        <a
          routerLink="/m-chat"
          routerLinkActive="text-white"
          class="hover:text-white"
        >
          M-Chat
        </a>
        <a
          routerLink="/login"
          routerLinkActive="text-white"
          class="hover:text-white"
        >
          Entrar
        </a>
      </ng-container>

      <!-- Usuário autenticado -->
      <ng-container *ngIf="auth.isAuthenticated()">

        <!-- Professor -->
        <ng-container *ngIf="auth.user()?.tipo_usuario === 'professor'">
          <a routerLink="/tela-professor" class="py-2 hover:text-white">Lista Alunos</a>
          <a routerLink="/m-chat" class="hover:text-white">M-Chat</a>
        </ng-container>

        <!-- Agente Público -->
        <ng-container *ngIf="auth.user()?.tipo_usuario === 'agente_publico'">
          <a routerLink="/acompanhamento-suspeitas" class="hover:text-white">
            Acompanhamento Suspeitas
          </a>
        </ng-container>

        <button
          type="button"
          (click)="logout()"
          class="text-sm text-red-400 hover:text-red-300 transition"
        >
          Sair
        </button>
      </ng-container>
    </nav>
  </div>
</header>
